@charset "utf-8";
/* CSS Document */

body {
    background-image: url("images/ridleybg.gif");
    background-repeat: repeat-x;
	line-height: 1.8em;
	margin-left: 50px;
	width: 90%;
}
form {
	margin-left: 75px;
}
h1 {
	font-size:2em;
	text-align: center;
}
label {
	vertical-align: top;
}
fieldset {
	border: 1px solid black;
	width: 90%;
	text-align: left;
}
#expl {
	font-size: .9em;
	font-style: italic;
	line-height: 0.9em;
}