@charset "utf-8";
/* CSS Document */

body {
    background-image: url("images/ridleybg.gif");
    background-repeat: repeat-x;
	margin-left: 50px;
	width: 90%;
	font-size:14px;
}
h1 {
	font-size:1.1em;
	text-align: center;
}
ol li {
	padding-bottom: 10px;
}